# Misc
*.pyc
*/debug.py
*/tutorial.py

# Data
data/*/*
*/data

*.mid
*.wav

*.tar 
*.html

*.npy
*.npz
*.hi

*.json
*.jsonl
*.csv

*.jpg
*.png
*.pdf

*.zip

# Logs
code/logs/*
*.MSI

# Models
*.pt

# sh
*.err
*.out